# Data Exploration & Visualization
pandas
matplotlib
seaborn
wordcloud
jupyter

# Machine Learning & NLP
torch
transformers
datasets
evaluate
scikit-learn

# FastAPI 
fastapi
uvicorn
python-multipart
httpx

# Speech-to-Text
openai-whisper

# Backend 

django
djnagorestframework
requests
